.deploy_git
build

databackup/posts
databackup/music
blogsources
themes/landscape
preview/

.idea
node_modules
blog/node_modules

/demo

/algorithm

*.log
.sync

blog/db.json

./**/_config.yml
nohup.out
