/*=======================================
                about me
========================================*/
.aboutme {
  font-family: Georgia, serif;
}
.aboutme strong.title {
  display: block;
  font-size: 18px;
  border-bottom: 1px dashed #CCC;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-bottom: 8px;
}
.aboutme strong.title span {
  color: #B6B6B6;
}
.aboutme p {
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 15px;
}
.aboutme-modify-time {
  padding: 20px;
  text-align: center;
  background: #F8F8F8;
  border-top: 1px dashed #CCC;
  border-bottom: 1px dashed #CCC;
}
.site-avatar {
  float: left;
  margin: 10px 15px;
}
.about-wechart {
  padding: 3px;
  border: 1px solid #CCC;
  margin: 10px 0;
}