/*=======================================
                about me
========================================*/
.aboutme {
  font-family: Georgia, serif;
}
.aboutme strong.title {
  display: block;
  font-size: 18px;
  border-bottom: 1px dashed #CCC;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-bottom: 8px;
}
.aboutme strong.title span {
  color: #B6B6B6;
}
.aboutme p {
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 15px;
}
.aboutme-modify-time {
  padding: 20px;
  text-align: center;
  background: #F8F8F8;
  border-top: 1px dashed #CCC;
  border-bottom: 1px dashed #CCC;
}
.site-avatar {
  float: left;
  margin: 10px 15px;
}
.about-wechart {
  background: #FFF;
  padding: 3px;
  border: 1px solid #CCC;
  margin: 10px 0;
}
.aboutme .pay {
  span {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    margin-right: 40px;
    padding: 2px 6px 20px;
    margin-bottom: 10px;
  }
  img {
    height: 200px;
    background: #EEE;
    text-align: center;
  }
  b, i {
    display: block;
    margin-top: -18px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-family: consolas;
    font-style: normal;
  }
}
.aboutme .wechatpay {
  b {
    display: none;
  }
  b, i {
    color: #008000;
  }
}
.aboutme .alipay {
  b, i {
    margin-top: -16px;
    color: #01aaef;
  }
}
.supportme {
  position: absolute;
  left: 50%;
  top: -32px;
  font-size: 30px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  -webkit-user-select: none;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 1px solid #f1b60e;
  border-radius: 50%;
  background: #fccd60; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #fccd60 0%, #fbae12 100%, #207cca 100%, #2989d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #fccd60 0%,#fbae12 100%,#207cca 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #fccd60 0%,#fbae12 100%,#207cca 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: quote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd60', endColorstr='#2989d8',GradientType=1 )"); /* IE6-9 fallback on horizontal gradient */
  margin-left: -30px;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: #FFF;
    background: #2989d8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2989d8 0%, #207cca 0%, #fbae12 0%, #fccd60 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2989d8 0%,#207cca 0%,#fbae12 0%,#fccd60 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2989d8 0%,#207cca 0%,#fbae12 0%,#fccd60 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: quote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#fccd60',GradientType=1 )"); /* IE6-9 fallback on horizontal gradient */
    transition: all 0.3s;
  }
}
