#SOHU_MAIN {
  font-family: consolas !important;
  margin-top: 50px !important;
}
.task-li,
.hots-li,
.feedback-li,
.set-li,
.power-by-cy-txt,
.btn-bean-outer,
.cy-user-sex,
.module-cmt-notice [node-type="notice-support"],
.module-cmt-notice [node-type="notice-hots"],
.module-cmt-notice [node-type="notice-task"],
.module-cmt-notice [node-type="notice-history"],
.module-hot-topic,
.block-title-gw,
.nt-logo,
.section-service-w,
.service-wrap-w,
.cmt-list-type,
.post-wrap-border-l,
.post-wrap-border-r,
.post-wrap-border-t,
.user-wrap-w, 
[node-type="cy-sohu-feed"] {
  display: none !important;
  visible: hidden !important;
  opacity: 0 !important;
}

.section-cbox-w {
  border: 1px solid #DDD !important;
  margin-left: 60px !important;
  background: #EEE !important;
  border-radius: 4px !important;
  height: 140px !important;
}

.block-head-w {
  height: 0 !important;
}

.head-img-w {
  top: 0 !important;
  left: -60px !important;
  display: block !important;
}

.head-img-w img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  background: #CCC;
}

.area-textarea-w {
  background: #FFF !important;
}

.textarea-fw {
  color: #999 !important;
  height: 120px !important;
  font-family: consolas !important;
  font-size: 16px !important;
}
.textarea-fw:focus {
  color: #333 !important;
}

.post-wrap-main {
  border-bottom: 1px solid #ccc !important;
  margin: 0 !important;
  background: #FFF !important;
  height: 140px !important;
}

.issue-btn-w .btn-fw {
  background: #EEE !important;
  border-radius: 2px !important;
  font-size: 16px !important;
  letter-spacing: 4px !important;
  color: #666 !important;
  border: 1px solid #CCC !important;
}

.issue-btn-w .btn-fw::after {
  content: "发布" !important;
}

.issue-btn-w .btn-fw:hover {
  color: #333 !important;
}

.list-block-gw {
  margin-top: 80px !important;
}

.module-hot-topic h3 {
  color: #EEE !important;
}

.newslist-title-w {
  background: url(https://changyan.itc.cn/mdevp/extensions/cy-skin/028/skin-blackwhite/images/title-tag.png) no-repeat !important;
  padding-left: 15px !important;
}
.click-prop-gw {
  display: none !important;
}
.user-name-gw a, .issue-wrap-gw {
  color: #ccc !important;
  font-size: 16px !important;
}

.head-img-gw {
  width: 50px !important;
  height: 50px !important;
  overflow: visible !important;
  padding: 0 !important;
}
.head-img-gw img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  transform: rotate(0);
  transition: all 0.3s;
}
.head-img-gw img:hover {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.clear-g.block-cont-gw {
  padding: 13px 10px 11px !important;
  border-radius: 4px !important;
  border-bottom-width: 0 !important;
  margin-top: 10px;
}

.clear-g.block-cont-gw:hover {
  background: #444 !important;
}

.module-cmt-notice .nt-item {
  padding-left: 20px !important;
  opacity: 0.7 !important;
  border-color: #CCC !important;
  background-color: #666 !important;
}
.header-login {
  position: absolute !important;
  left: -56px !important;
  top: 0px !important;
  z-index: 11 !important;
  border-radius: 0 !important;
  height: 40px !important;
  border: none !important;
  padding-top: 44px !important;
  color: #CCC !important;
}
.header-login:hover {
  color: #EEE !important;
}

body>.clearfix, body>.aboutme, body>.message, body>.demos {
  .user-name-gw a, .issue-wrap-gw {
    color: #666 !important;
    font-size: 16px !important;
  }
  .clear-g.block-cont-gw:hover {
    background: #EEE !important;
  }
  .cmt-more-wrap-gw {
    background: #EEE !important;
    color: #777 !important;
  }
}