.ds-post-reply, .ds-post-likes, .ds-post-repost {
  display: none;
}
.ds-post-self:hover .ds-post-reply, .ds-post-self:hover .ds-post-likes, .ds-post-self:hover .ds-post-repost {
  display: inline;
}
.ds-user-name {
  font-size: 14px !important;
  line-height: 42px !important;
}
.ds-children .ds-user-name {
  line-height: 26px !important;
}
div#ds-thread #ds-reset .ds-comment-body p {
  font-size: 16px !important;
}
div#ds-thread #ds-reset .ds-comment-header .ds-user-name {
  font-size: 18px !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  line-height: 30px !important;
}
div#ds-thread #ds-reset .ds-textarea-wrapper textarea {
  height: 100px !important;
  font-size: 18px !important;
}
div#ds-thread #ds-reset .ds-post-options {
  overflow: hidden;
}
@media screen and (max-width: 641px) {
  div#ds-thread #ds-reset .ds-replybox {
    padding: 0 !important;
  }
  div#ds-thread #ds-reset .ds-replybox .ds-avatar {
    display: none !important;
  }
  .ds-post-self:hover .ds-post-repost, .ds-post-self:hover .ds-post-report, .ds-post-self:hover .ds-post-delete {
    display: none !important;
  }
}

