.entry-wrapper {
  margin: 50px auto 0;
  max-width: 990px;
}
.entry-thumb {
  float: right;
  width: 120px;
  margin-left: 10px;
  margin-top: 10px;
  max-height: 150px;
  overflow: hidden;
  img {
    width: 120px;
  }
}
.entry-wrapper .ds-thread,.entry-wrapper #disqus_thread {
  margin-top: 30px;
}
.entry-wrapper h1 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
}
.rightbar-frame {
  height: 352px;
  background: #FAFAFA url("/blogimgs/loading.gif") center center no-repeat;
  border: 1px solid #CCC;
}
.entry-recent-post {
  float: left;
  width: 590px;
  padding: 20px;
  background: #F3F3F3;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #E2E2E2;
}
.entry-recent-post h3 {
  font-size: 22px;
  margin 8px 0;
  font-weight: normal;
}
.entry-recent-post p {
  font-size: 15px;
  line-height: 30px;
  // text-indent: 2em;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #CCC;
}
.entry-recent-post span {
  float: right;
  font-size: 14px;
  color: #999;
}
.entry-recent-posts {
  float: left;
}
.entry-recent-posts h2 a {
  float: right;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}
.entry-recent-posts h2, .entry-cates h2  {
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px dashed #CCC;
  width: 590px;
  max-width 100%;
  line-height: 2;
  margin-bottom: 15px;
  margin-top: 40px;
}
.entry-recent-posts ul {
  padding-left: 27px;
}
.entry-recent-posts li {
  margin-bottom: 5px;
  list-style: circle;
  line-height: 28px;
  font-size: 16px;
  // white-space: nowrap;
  text-overflow: ellipsis;
}
.entry-recent-posts li span {
  color: #999;
  display: inline-block;
  width: 100px;
}
.entry-recent-posts b.ds-thread-count,.entry-recent-post b.ds-thread-count {
  font-weight: normal;
  font-size: 12px;
}
.rightbar {
  float: right;
}
.entry-cates {
  width: 300px;
  border: 1px solid #CCC;
  padding: 15px;
  margin-bottom: 30px;
}
.entry-cates h2 {
  margin-top 0;
}
.entry-cates ul {
  list-style-type disc;
  padding-left:20px;
}
.entry-cates li {
  margin-bottom: 5px;
  line-height: 28px;
  font-size: 16px;
}
.entry-cates li span {
  font-size: 14px;
  font-family:monospace;
}

.entry-page-search {
  float: right;
  position: relative;
  margin-right: 30px;
  margin-top: 8px;
  border: 1px solid #ccc;
  width: 180px;
  height: 28px;
  // overflow: hidden;
  #local-search-result {
    top: 35px;
    right: 1px;
    left: auto;
    z-index: 5;
  }
}
.entry-page-search input {
  border: none;
  width: 100%;
  height: 100%;
  text-indent: 1em;
  line-height: 28px;
  font-size: 12px;
  position: relative;
  top: -9px;
  color: #888;
  font-family: initial;
}
.entry-page-search i {
    position: absolute;
    height: 28px;
    right: 5px;
    top: -5px;
    color: #B7B7B7;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s;
}
.entry-page-search i:hover {
  transition: color 0.3s;
  color: #555;
}
em.entry-item-tag {
  font-style: normal;
  color: red;
  margin-right: 2px;
  font-size: 12px;
  border: 1px solid red;
  border-radius: 2px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 2px;
  position: relative;
  font-family: courier,consolas,arial;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
