/*=======================================
                footer
========================================*/
.footer {
  background: #3F3F3F;
  overflow: hidden;
}
.cate-footer {
  background: none;
}
.footer-wraper {
  min-height: 410px;
  width: 800px;
  margin: auto;
  padding-left: 40px;
  color: #FFF;
}
.single-page-footer {
  .footer-wraper {
    position: relative;
  }
  .website-info {
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
  }
}

.zhidao_ai {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  opacity: 0.5;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}
.footer-content {
  padding: 0 40px 10px;
}
.footer-nav {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  overflow: hidden;
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.footer-nav a {
  color: #999;
  display: inline-block;
  margin-right: 10px;
  border-top: 5px solid #3F3F3F;
  padding: 10px 6px;
}
.footer-nav a:hover, #comments {
  color: #FFF;
  border-top-color: #E58C7C;
  text-decoration: none;
  -webkit-box-shadow: 0 -17px 26px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -17px 26px rgba(0,0,0,0.4);
  box-shadow: 0 -17px 26px rgba(0, 0, 0, 0.4);

}
.author {

}
.author-avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
  margin-bottom: 15px;
}
.author-avatar img {
  width: 100%;
}
.author strong {
  display: block;
  font-size: 18px;
}
.toTop {
  position: fixed;
  _display:none;
  color: #999;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #EFEFEF;
  line-height: 40px;
  text-align: center;
  border-radius: 2px;
  z-index 30;
  transition: background-color 0.3s;
}
.toTop:hover {
  background: #EAEAEA;
  transition: background-color 0.3s;
}
.website-info {
  margin-top: 25px;
  padding-bottom:10px;
  color: #AAA;
  text-align: right;
  border-top: 1px solid #666;
  padding-top: 10px;
  font-size: 14px;
}
.website-info a {
  color: #888;
}
.website-info small a {
  text-decoration: none;
}
.website-info small {
  display:inline-block;
  margin-right: 8px;
}
.website-info a:hover {
  color: #CCC;
  text-decoration:underline;
}
.comments-none {
  text-align: center;
}
.comments-form {
  margin-bottom: 25px;
  margin-top: 30px;
}
.comments-form label {
  display: block;
  color: #FAFAFA;
  line-height: 32px;
}
.comments-form input {
  border: 1px solid #868686;
  line-height: 120%;
  padding: 4px 3px;
  background-color: #414141;
  color: #FFF;
}
.comments-form span {
  color: #888;
}
.comments-form textarea {
  border: 1px solid #868686;
  background-color: #414141;
  padding: 5px;
  color: #FFF;
  width: 90%;
  display: block;
  overflow: auto;
}
.comments-form .CF-rem {
  display: inline;
}
.CF-submit-box {
  margin-top: 8px;
}
.comments-form .CF-submit {
  width: 100px;
  padding: 2px 30px;
  text-align: center;
  color: #FFF;
}
.comments-form .CF-submit:hover {
  background: #666;
  cursor: pointer;
}
.comments-list {
  font-family: Georgia, serif;
}
.comments-list li {
  border-bottom: 1px dashed #999;
  padding: 20px 0 8px;
}
.comments-list li a {
  color: #FFF;
  text-decoration: underline;
}
.comments-list li > p {
  text-align: right;
  font-size: 12px;
}
.comments-list li > p a,.comments-list li > p span {
  margin: 0 3px;
}
.comments-list li > div {
  padding: 15px 30px;
  line-height: 24px;
}
.comments-list li > div p {
  margin-bottom: 15px;
}
.comments-list .highlight {
  padding: 10px;
  margin: 25px 0;
  line-height: 1.5;
  background: #CCC;
  padding-top: 0;
}
.comments-list .highlight code {
  display: block;
  line-height: 1.5;
}
.comments-list blockquote{
  background: #333;
  border-color: #555;
}
label.CF_comment {
  display: inline-block;
}
.comments-insert-elem {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}
.comments-insert-elem:hover {
  color: #CCC;
}
.comments-insert-elem:hover i {
  color: #FFF;
}
.comments-insert-elem i {
  color: #CCC;
  font-size: 16px;
}

.friends-box li {
  list-style-type: square;
  margin-left: 30px;
  color: #888;
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.friends-box li a {
  line-height: 30px;
  display: inline-block;
  color: #b9857b;
  &:hover {
    color: #E58C7C;
    transition: all 0.3s;
  }
}