
/*=======================================
                sidebar
========================================*/
.sidebar {
  position: fixed;
  _display: none;
  left: -680px;
  width: 706px;
  top: 0;
  bottom: 0;
  z-index: 999;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  border-right:  1px solid #CCC\9;
  transition: all 0.3s;
  *border-right:  1px solid #CCC;
}
:root .sidebar {
  border-right:  none;
}
.sidebar-toggler {
  position: fixed;
  top: 50%;
  left: 10px;
  height: 84px;
  width: 16px;
  margin-top: -42px;
  background: #E1E8E5;
  color: #000;
  text-align: center;
  line-height: 84px;
  cursor: pointer;
}
.func-btns-up {
  bottom: auto;
  top: 10px;
}
.func-btns {
  transition: all 0.3s;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 26px;
  font-size: 18px;
  text-align: center;
  color: #666;
}
.func-item p {
  line-height 24px;
  margin: 5px 0;
}
.func-item p.seperator {
  border-bottom: 1px solid #CCC;
  cursor: pointer;
}
.func-btns i.icon {
  cursor: pointer;
  padding: 6px 0;
  display: block;
  height: 18px;
  line-height: 18px;
  span {
    position: absolute;
    opacity: 0;
    /* transition: all 0.3s; */
  }
}
.func-btns i.icon:hover {
  color: #000;
}
.func-item {
  position: relative;
}
.func-item > a {
  color: #555;
}
.func-item > a:hover {
  text-decoration: none;
}
.func-item > div {
  display: none;
  position: absolute;
  left: 20px;
  top: 50%;
  min-width: 80px;
  margin-top: -12px;
  border: 1px solid #CCC;
  padding: 8px;
  background: #EEE;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
@media all and (-webkit-min-device-pixel-ratio:0) {
  .func-item > div {
    margin-top: -34px;
  }
}
.func-item > div a {
  color: #555;
  text-decoration: none;
}
.func-item > div a:hover {
  color: #000;
}
.left-arrow {
  position: absolute;
  left: -15px;
  height: 0;
  width: 0;
  line-height: 0;
  border: 8px solid transparent;
  top: 9px;
  z-index: 100;
  border-right-color: #EEE;
}
.left-arrow-clone {
  position: absolute;
  left: -16px;
  height: 0;
  width: 0;
  z-index: 99;
  line-height: 0;
  border: 8px solid transparent;
  top: 9px;
  border-right-color: #CCC;
}
.sidebar-content {
  padding-bottom: 30px;
}
.page-logo {
  /*border: 1px solid #CCC;*/
  display: inline-block;
  padding: 8px;
  font-size: 36px;
  margin-top: 48px;
  margin-left: 20px;
  color: #999;
}
.page-nav {
  position: relative;
  display: inline-block;
}
.page-nav {
*display: inline;
}
.page-nav li {
  float: left;
  margin-left: 26px;
}
.page-nav li a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  border-top: 4px solid transparent;
}
.page-nav li a:hover, #page-nav-on {
  text-decoration: none;
  border-top-color: #E58C7C;
}
.page-search {
  float: right;
  position: relative;
  margin-right: 50px;
  margin-top: 60px;
  *position: absolute;
  *right: 50px;
  *top: 60px;
  *margin: 0;
  border: 1px solid #CCC;
  width: 180px;
  height: 28px;
  overflow: hidden;
}
.page-search input {
  border: none;
  width: 100%;
  height: 100%;
  text-indent: 1em;
  background: #F8F8F8;
  line-height: 28px;
  *width: 180px;
  *height: 28px;
  *text-indent: 0;
}
.recent-comments-list li > div {
  width: 190px;
  display: inline-block;
}
.search-btn {
  position: absolute;
  height: 28px;
  font-size: 18px;
  right: 5px;
  top: 3px;
  color: #666;
  cursor: pointer;
}
.search-btn:hover {
  color: #000;
}

.page-search input:hover {
  background: #FAFAFA;
}
.recent-post {
  *overflow: hidden;
  *width: 100%;
  height: 220px;
  margin: 30px auto 15px;
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.recent-post > div {
  display: inline-block;
  vertical-align: top;
}
div.recent-pic {
  *display: inline;
  *float:left;
}
.recent-pic img {
  height: 220px;
  width: 240px;
}
.recent-post .recent-info {
  padding: 20px;
  width: 270px;
}
.recent-info h3 {
  font-size: 26px;
  line-height: 40px;
  border-bottom: 1px solid #999;
  padding-bottom: 4px;
  margin-bottom: 15px;
  color: #444;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recent-info h3 a {
  color: #444;
}
.recent-info h3 a:hover {
  text-decoration: none;
}
.recent-info p {
  font-size: 14px;
  line-height: 24px;
  color: #888;
}
.recent-info span {
  text-align: right;
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #CCC;
}
.post-catograry {
  padding: 0 30px ;
  color: #6E6E6E;
  font-size: 14px;
}
.post-catograry a {
  margin: 0 4px;
}
.recent-articles {
  padding: 0 30px;
  margin-top: 15px;
}
.recent-articles h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  color: #6F6F6F;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #CCC;*/
}
.recent-pages, .recent-comments {
  margin-bottom: 25px;
}
.recent-articles-list {
  overflow: hidden;
}
.recent-articles-list li {
  float: left;
  width: 250px;
  height: 50px;
  margin: 0 20px 15px 0;
  padding: 8px;
  cursor: pointer;
}
.recent-articles-list .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  float: left;
  margin-right: 10px;
  color: #888;
}
.recent-articles-list li:hover .icon {
  color: #000;
}
.recent-articles-list h4 {
  line-height: 28px;
}
.recent-articles-list h4 a {
  color: #6A6A6A;
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  font-weight: bold;
}
.recent-articles-list li:hover h4 a {
  color:#000;
  text-decoration: underline;
}
.recent-articles-list p {
  color: #777;
  font-size: 12px;
}
.sidebar-panel {
  overflow: hidden;
  width: 700px;
  margin-bottom: 25px;
}
.sidebar-panel > div {
  float: left;
  border: 1px solid #CCC;
}
.sidebar-panel a {
  display: block;
  height: 100%;
  font-size: 22px;
  color: #FFF;
  text-align: center;
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.sidebar-panel a:hover {
  text-decoration: none;
}
.sidebar-panel-ad {
  width: 400px;
  height: 150px;
  margin-right: 20px;
  line-height: 150px;
  background-image: url(http://img3.douban.com/img/fmadmin/chlBanner/28472.jpg);
  background-size: cover;
}
.sidebar-panel-ad a {
  color: #555;
  font-size: 40px;
}
.sidebar-panel-ad:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
}

.sidebar-panel-archive {
  width: 150px;
  height: 65px;
  line-height: 65px;
  background-color: #D93B57;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 94, 58, 0.8) 0%,rgba(255, 42, 104, 0.8) 100%);
  background-image: linear-gradient(to top, rgba(255, 94, 58, 0.8) 0%,rgba(255, 42, 104, 0.8) 100%);
}
.sidebar-panel-archive:hover {
  background-color: #D93B57;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 42, 104, 0.8) 0%, rgba(255, 94, 58, 0.8) 100%);
  background-image: linear-gradient(to top, rgba(255, 42, 104, 0.8) 0%, rgba(255, 94, 58, 0.8) 100%);
}
.sidebar-panel-seminar {
  width: 150px;
  height: 65px;
  margin-top: 20px;
  line-height: 65px;
  background-color: #23A2D6;
  background-image: -webkit-linear-gradient(bottom, rgba(29, 98, 240, 0.8) 0%,rgba(26, 214, 253, 0.8) 100%);
  background-image: linear-gradient(to top, rgba(29, 98, 240, 0.8) 0%,rgba(26, 214, 253, 0.8) 100%);
}

.sidebar-panel-seminar:hover {
  background-color: #23A2D6;
  background-image: -webkit-linear-gradient(bottom, rgba(26, 214, 253, 0.8) 0%,rgba(29, 98, 240, 0.8) 100%);
  background-image: linear-gradient(to top, rgba(26, 214, 253, 0.8) 0%,rgba(29, 98, 240, 0.8) 100%);
}


.sidebar-hover {
  transition: all 0.3s;
  left: -648px;
  .func-btns {
    transition: all 0.3s;
    width: 62px;
    i.icon {
      color: #555;
      font-size: 14px;
      white-space: nowrap;
      span {
        display: inline-block;
        font-size: 14px;
        margin-left: 4px;
        color: #868686;
        position: relative;
        top: 1px;
        transition: all 0.3s;
        opacity: 1;
      }
    }
  }
}