<%- partial('_partial/header') %>
<% var hasNotice = site.data.text.notice; %>
<body>
  <div class="rainbow<% if(hasNotice) { %> notice<% } %>"><% if(hasNotice) {%> <%- site.data.text.notice %><% } %></div>
  <%- body %>
</body>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/main.js?v=20191101"></script>
<script>
  window.onerror = function(e) {
    window.console && window.console.log && window.console.log(e);
    $('#loadLayer').remove();
    return true;
  };
</script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "95zt32kh24");
</script>
</script>
</html>
