<%- partial('_partial/header') %>
<% var hasNotice = site.data.text.notice; %>
<body>
  <div class="rainbow<% if(hasNotice) { %> notice<% } %>"><% if(hasNotice) {%> <%- site.data.text.notice %><% } %></div>
  <%- body %>
</body>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/socket.io.js"></script>
<script>
  window.onerror = function(e) {
    // window.console && window.console.log && window.console.log(e);
    return true;
  };
</script>
<script src="/public/js/aplayer.js"></script>
<script src="/public/js/main.js?v=20160718"></script>
</script>
</html>
