<% if(theme.changyan) { %>
<div id="SOHUCS" sid="<%- page.slug || page.path || 'barretlee-blog' %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
  appid: 'cyt0XnPCt',
  conf: 'prod_5fde9cb8b23a2209a1ad60ab2dd5fe82'
});
</script>
<% } %>