<div class="ds-share-inline" tabindex="0" aria-hidden="true">
  <ul  class="ds-share-icons-16">
    <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
    <li> <a class="ds-google" href="javascript:void(0);" data-service="google">Google+</a> </li>
    <li> <a class="ds-weibo" href="javascript:void(0);" data-service="weibo">新浪微博</a> </li>
    <li> <a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a> </li>
  </ul>
  <div class="ds-share-icons-more">
  </div>
</div>