<% if(theme.gitalk) { %>
  <div id="gitalk" sid="<%- page.slug || page.path || 'barretlee-blog' %>">
    
  </div>
  <script charset="utf-8" type="text/javascript" src="/public/js/gitalk.js"></script>
  <script type="text/javascript">
  var postContent = document.querySelectorAll('.post-content>p');
  if (postContent && postContent.length) {
    postContent = postContent.item(0).textContent + postContent.item(1).textContent;
    postContent = postContent.length > 140 ? postContent.slice(0, 140) + '...' : postContent;
  }

  var gitalk = new Gitalk({
    clientID: '50a1b3aa7854b01a1c85',
    clientSecret: '226ac154f80a6aea0985da874126b35795f22eed',
    language: "zh-CN",
    perPage: 100,
    createIssueManually: false,
    repo: 'blog',
    owner: 'barretlee',
    admin: ['barretlee'],
    id: "<%- page.slug || page.path || 'barretlee-blog' %>",
    body: location.href + ' ' + postContent || header.meta[description],
    distractionFreeMode: false
  });
  gitalk.render('gitalk');

  // show count
  var commentTimer = setInterval(() => {
    var count = document.querySelector('.gt-link-counts');
    var showCount = document.querySelector('.hash-to-comments');
    if (count && showCount) {
      showCount.textContent = count.textContent;
      clearInterval(commentTimer);
    }
  }, 500);
  setTimeout(() => {
    clearInterval(commentTimer);
  }, 60 * 1E3);
  </script>
  <% } %>