<% if(theme.gitment) { %>
  <div id="gitment" sid="<%- page.slug || page.path || 'barretlee-blog' %>">
    
  </div>
  <script charset="utf-8" type="text/javascript" src="/public/js/gitment.js"></script>
  <script type="text/javascript">
  // var myTheme = {
  //   render(state, instance) {
  //     var container = document.createElement('div')
  //     container.lang = "en-US"
  //     container.className = 'gitment-container gitment-root-container'
  //     container.appendChild(instance.renderHeader(state, instance))
  //     container.appendChild(instance.renderEditor(state, instance))
  //     container.appendChild(instance.renderComments(state, instance))
  //     container.appendChild(instance.renderFooter(state, instance))
  //     return container
  //   },
  // }
  const titleBox = document.querySelector('.post-title');
  var gitment = new Gitment({
    id: document.getElementById('gitment').getAttribute("sid"),
    title: titleBox && titleBox.textContent || '小胡子哥的个人网站',
    owner: 'barretlee',
    repo: 'blog',
    oauth: {
      client_id: '50a1b3aa7854b01a1c85',
      client_secret: '226ac154f80a6aea0985da874126b35795f22eed',
    },
    // theme: myTheme,
  })
  gitment.render('gitment');
  </script>
  <% } %>