<div class="tools-wrapper" tabindex="0" aria-hidden="true">
	<a class="gotop icon" href="#" title="回到顶部">&#x2191;</a>
	<!-- <a class="wechart icon">&#xe60d;<span><img src="/blogimgs/wechart.png" title="扫码添加小胡子哥微信"/> </span></a> -->
	<a class="hash-to-comments icon" title="我要评论">&#x2121;</a>
</div>
<div class="fixerr" tabindex="0" aria-hidden="true">纠错模式</div>