<span class="share-box" aria-hidden="true">
  <b>分享到: </b>
  <i class="icon on" title="新浪微博" id="share-weibo">&#x535a;</i>
  <i class="icon" title="twitter" id="share-twitter">&#x9e1f;</i>
  <!-- <i class="icon" title="豆瓣社区" id="share-douban">&#x8c46;</i> -->
</span>
