<div class="website-info" aria-hidden="true">
	<span>Copyright &copy;2013-<%- moment(new Date).format("YYYY")%> <small><a href="http://www.miitbeian.gov.cn/" about="_blank">湘ICP备14007107号-1</a></small></span>
	本站由 <a href="<%- url_for("/") %>"><%- config.author %></a> 纯手工打造 Powered By <a href="http://pages.coding.me">Coding</a> & <a href="https://pages.github.com/">Github</a> | <a href="<%- url_for('about') %>#contact">联系方式</a>
</div>