<div class="website-info" aria-hidden="true">
	<a class="page_editor" href="http://admin.barretlee.com/admin" target="_blank">🙈</a>
	<span>&copy;2013-<%- moment(new Date).format("YYYY")%> <small><a href="http://www.miitbeian.gov.cn/" about="_blank">湘ICP备14007107号-1</a></small></span>
	本站由 <a href="<%- url_for("/") %>"><%- config.author %></a> 纯手工打造 | <a href="<%- url_for('about') %>#contact">联系方式</a> | 总热度：<em id="busuanzi_value_site_pv"></em>
</div>
