@media print {
  .local-search, .tools-wrapper, .share-article, .post-relative, .single-page-footer, .sidebar, #nmlist, .chatroom, .copyright, .bread, .post-title-wrapper img, .web-feed, .ds-meta, .website-info, .arrow-expend, .local-search, .post-info span {
    display: none !important;
  }
  .follow-wechat {
    margin-top: 30px;
  }
  .article, .cate-wraper {
    padding: 30px 20px;
  }
  .post-content {
    img {
      margin: 30px auto;
    }
  }
  .post-info {
    text-align: right;  
  }
  .post-info>span:nth-child(1), .post-info>span:nth-child(2) {
    display: inline-block !important;
  }
  .post-title {
    word-break: keep-all !important;  
  }
}