@media screen and (max-width: 1260px) {
  .bread {
    display: none;
  }
  .article {
    paddint-top: 70px;
  }
}
@media screen and (max-width: 991px) {
  .secretCircle {
    padding-right: 20px;
    padding-left: 300px;
    a {
      img {
        left: 40px;
      }
    }
  }
  .article em.arrow-expend {
   display: none  !important;
  }
  .share-article {
    margin: 20px 0;
  }
  .container {
    padding-left: 40px;
  }
  .post-title-wrapper a {
    display: none;
  }
  .entry-cates .page-search {
    display: none;
  }
  .article, .cate-wraper {
    padding: 50px 20px 30px;
  }
  .rightbar-frame {
    height: 0;
    display: none;
  }
  .share_self {
    display:none;
  }
  .post-content p {
   .icon.a-comments {
      right: 0;
      opacity: 0.6;
      top: -22px;
      b {
        display: none;
      }
    }
  }

  .entry-wrapper {
    margin: 50px auto;
    max-width: 640px;
  }
  .entry-cates {
    width: 607px;
    float: left;
  }
  .entry-recent-post,.entry-recent-posts {
    width: 600px;
  }
  .entry-cates li {
    display: inline-block;
    margin: 0 10px;
  }

  .page-relative-fixed {
    position: fixed;
    right: 60px;
    bottom: 15px;
    z-index 30;
  }
  .page-relative-fixed .icon {
    font-size: 14px;
    color: #909090;
    opacity: 1;
    filter: none;
  }
  .page-relative-fixed .icon:hover {
    color: #AAA;
    opacity: 1;
    filter: none;
  }
  .page-relative-fixed .next b,.page-relative-fixed .prev b {
    position: absolute;
    font-size: 16px;
    top: -40px;
    margin: 0;
    left: -60px;
    background-color: #FAFAFA;
    padding: 0 6px;
    color: #000;
    border-radius 4px;
    overflow: hidden;
    width: 180px;
  }
  .page-relative-fixed a.next,.page-relative-fixed a.prev {
    margin: 0;
    position: static;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 4px;
    background-color: #EEE;
    color: #AAA;
  }
  .entry-cates ul {
    padding-left:0;
  }
  code {
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  .local-search {
    display: none;
  }
  .secretCircle {
    padding-right: 20px;
    padding-left: 270px;
    a {
      img {
        left: 30px;
      }
    }
  }
 .sidebar-toggler, h1 img {
   display: none;
 }
  .entry-wrapper {
    margin: 50px auto;
    max-width: 590px;
  }
  .entry-cates {
    width: 547px;
    float: left;
  }
  .entry-recent-post, .entry-recent-posts {
    width: 540px;
  }
  .arrow-tips {
    display: none;
  }
  .highlight {
    padding: 10px 8px;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
  }
  .post-content h3,.post-content h4, .post-content h5 {
    font-weight: bold;
  }
}

.screenshot {
  padding: 0 2px;
  .share-article {
    visibility: hidden;
  }
  .highlight {
    padding: 10px 8px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    table, .code, pre {
      max-width: 96%;
      overflow: hidden;
    }
  }
  .copyright {
    border: 1px solid #CCC;
    margin: 0 !important;
    margin-bottom: 40px !important;
    padding: 30px;
    img {
      display: none;
    }
  }
  .highlight, code, pre {
    overflow: hidden;
  }
  .post-title-wrapper a {
    position: static;
    border-radius: 0;
    img {
      border-radius: 0;
      box-shadow: none;
    }
  }
}
@media screen and (max-width: 640px) {
  blockquote {
    margin-top: 25px;
    padding: 20px;
  }
  blockquote p {
    font-size: 14px;
  }
  .entry-recent-posts li span {
    display: none !important;
  }
  .entry-recent-posts li a {
    max-width: 90%;
  }
  .tools-wrapper {
    bottom: 15px;
  }
  .response-overflow {
    overflow: hidden;
  }
  .secretCircle {
    padding: 0;
    border: none;
    text-align: center;
    margin: 40px 0;
    a {
      img {
        position: static;
      }
    }
    strong {
      display: block;
      line-height: 40px;
      font-size: 12px;
    }
    ul, li, p {
      display: none;
    }
  }

  .article em.arrow-expend {
   display: none !important;
  }
  .message h2 {
    margin-top: 20px;
  }
  .wechart {
    display: none !important;
  }
  .highlight, code, kbd, pre, samp {
    font-family: 'Courier New', Courier, monospace;
  }
  .fixerr {
    left: 32px;
    display: none;
  }
  .post-content p {
   .icon.a-comments {
      right: 0;
      opacity: 0.2;
      top: -22px;
      b {
        display: none;
      }
    }
    .icon.a-comments_on {
      opacity: 1;
    }
  }
  .w404-list {
    text-align: left;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .w404-list ul {
    padding: 15px;
    padding-left: 20px;
    display: block;
  }
  .w404-list li {
    list-style-type: circle;
    display: block;
    line-height: 24px;
  }
  .w404-list li::before {
    content: "➳";
    display: inline-block;
    margin-right: 6px;
    color: #888;
  }
  .w404-list ul li span {
    display: none;
  }
  .entry-page-search {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .container {
    padding-left: 0;
  }
  .post-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom 10px;
  }
  .cate-header .cate-list {
    width: 480px;
    max-width: 74%;
    vertical-align: top;
  }
  .post-content p, .post-content blockquote, .post-content .highlight, .post-content div {
    margin-bottom 10px;
  }
  .post-content table {
    margin-bottom 0;
  }
  .highlight {
    font-size: 14px;
    padding: 10px;
  }
  .cate-wraper h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
    line-height: 36px;
  }
  .article, .cate-wraper {
    padding: 30px 3%;
  }
  .post-prev, .post-next {
    font-size: 16px;
  }
  .cate-wraper {
    padding-top:10px;
  }
  .post {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-wraper {
    width auto;
    padding-left:0;
  }
  .footer-content {
    padding: 0 15px 10px;
  }
  .footer-nav a {
    padding: 6px;
    font-size: 16px;
  }
  .website-info {
    font-size 12px;
  }
  .website-info span {
    display: none;
  }
  .old-article-warning, .history-article {
    font-size: 14px;
  }
  .aboutme h2 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .entry-wrapper {
    margin: 30px auto;
    max-width: 520px;
  }
  .entry-cates {
    width: 487px;
    float: left;
  }
  .entry-recent-post,.entry-recent-posts {
    width: 480px;
  }
  .highlight pre .code, .highlight .code pre, figure span, figure {
    font-size: 14px;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
  }
  .post-content h3 {
    font-size: 22px;
    line-height: 48px;
    margin-top: 0;
  }
  .post-content h4 {
    font-size: 18px;
    line-height: 32px;
    margin-top: 0;
  }
  .post-content h5 {
    font-size: 16px;
    line-height: 28px;
     margin-top: 0;
  }
  .post-content pre {
    font-size: 14px;
    line-height: 24px;
    // background: #f8f8f8;
    max-width: auto;
    overflow-x: visible;
  }
  h2.demos-header {
    margin-top:30px;
    margin-bottom:30px;
    font-size 28px;
  }
  .toggle-box h2 {
    font-size: 22px;
  }
  .toggle-box ul {
    margin: 0;
    margin-left: 35px;
  }
  a.relative-img-wrapper {
    width: 95%;
    margin-bottom: 10px;
    margin-left: 0;
    display: block;
    float: none;
  }
  /**.relative-article ul {
    div {
      border-left: none;
      padding-left: 0;
    }
  }**/
}
@media screen and (max-width: 481px) {
  .copyright {
    margin-right: 0;
    margin-left: 0;
    border: 1px dashed #CCC;
    padding: 40px 20px 20px;
    img {
      top: 20px;
      right: 15px;
    }
    .supportme {
      top: -30px;
      font-size: 24px;
      line-height: 50px;
      width: 50px;
      height: 50px;
    }
  }
  .home-box {
    width: 310px;
    margin-left: -175px;
  }
  .cate-header .cate-list {
    width: 320px;
    max-width: 74%;
    vertical-align: top;
  }
  .cate-wraper .share-box {
    display: none;
  }
  .entry-wrapper {
    margin: 30px auto;
    max-width: 345px;
  }
  .entry-cates {
    width: 310px;
    float: left;
  }
  .entry-recent-post {
    width: 300px;
  }
  .entry-recent-posts {
    width: 340px;
  }
  .relative-article ul {
    div {
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 30px;
      line-height: 22px;
    }
    li {
      font-size: 14px;
    }
    a {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 361px) {
  .home-box {
    width: 260px;
    margin-left: -150px;
  }
  .footer-nav a {
    padding: 6px;
    font-size: 14px;
  }
  .home-box h3 {
    margin-bottom: 20px;
  }
  .home-box p {
    line-height: 18px;
    margin-bottom: 10px;
  }
  .home-box h2 img {
    margin-top: 5px;
  }
  .cate-header .cate-list {
    max-width: 70%;
    vertical-align: top;
  }
  .entry-wrapper {
    margin: 30px auto;
    max-width: 290px;
  }
  .entry-cates {
    width: 257px;
    float: left;
  }
  .entry-recent-post,.entry-recent-posts {
    width: 250px;
  }
}
