channel {font:14px/26px Consolas,微软雅黑;background:#FFFFFA;margin-top: 10px;}
channel>* {margin:8px 20px;display:block;}
channel>item {margin:16px 20px;max-height:200px;overflow:hidden;}
channel>title {
  margin-top: 20px;
  font-size:26px;line-height:32px;
  display:inline-block;margin-bottom:0px;color:#333;
}
channel>pubDate {
  margin: 0;
  height: 4px;
  position: absolute;
  top: 0;
  width: 100%;
  right: -2px;
  background-image: -webkit-linear-gradient(left, #003973, #e5e5be);
  background-color: #fff;
  left: -2px;
  text-indent: -9999px;
}
item>guid {display:block;color: #C3C3C3;}
channel>generator {display: none;}
item  {
  border:1px solid #CCC;padding:10px;display:block;
  /*background:linear-gradient(#FFFFE7,#FFFEF9);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFE7), color-stop(1, #FFFEF9) );
  background: -moz-linear-gradient( center top,#FFFFE7 5%, #FFFEF9 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE7', endColorstr='#FFFEF9');*/
  box-shadow:0px 0px 10px #ECECEC;
  position: relative;
  color: #888;
}
item>pubDate  {color:#666;position: absolute;right: 10px;top:10px;}
item>description {display:none;}
item>title {font-weight:bold;color:#333;font-size:16px;}
title {cursor:pointer;}
title:hover {color:#E63;}
link {display:none;}