body, div, a, ul, li, strong,input,form,label,p,tr,td,th {
	padding:0;
	margin:0;
}

body {
	font: 12px/1.2 '宋体',tahoma;
	padding-bottom: 50px;
}
ul,  li {
	list-style: none;
}
p {
	line-height: 24px;
}
a {
	color: #000;
	text-decoration: none;
}

* {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

input {
	vertical-align: middle;
}
input[type=radio]{
	vertical-align: bottom;
	*vertical-align: middle;
}


.cathectic-box {
	border: 1px solid #B0D0F6;
	border-top: 3px solid #2666AD;
	width: 740px;
	margin: 30px auto;
}
.cathectic-num {
	padding-top: 10px;
	padding-left: 15px;
	background: #F8F8F8;
	border-bottom: 1px solid #B0D0F6;
	color: #CCC;
}
.cathectic-num a {
	font-weight: bold;
	display: inline-block;
	padding: 3px 10px;
	line-height: 20px;
	color: #555;
	border: 1px solid transparent;
}
.cathectic-num a:hover {
	color: red;
}
a.cathectic-num_on {
	border: 1px solid #B0D0F6;
	border-bottom: none;
	background: #E7E7E7;
}
.cathectic-container {
	padding: 20px;
	padding-top: 0;
	padding-bottom: 30px;
	user-select: none;
	-webkit-user-select: none;
}
.cathectic-type {
	border-bottom: 1px solid #B0D0F6;
	padding: 15px 20px;
	display: none;
}
.cathectic-type-choose {

}
.cathectic-type-choose span {
	display: inline-block;
	margin-right: 15px;
}
.cathectic-type-choose label {
	margin:0 3px;
}
.cathectic-tip {
	margin-top: 10px;
	color: #888;
	display: none;
}
.cathectic-tip span {
	color: red;
}
.cathectic-recent-btn{
	text-align: center;
}
.cathectic-recent-btn span {
	display: inline-block;
	margin-right: 20px;
	background: #EEE;
	cursor: pointer;
	padding: 5px 18px;
	color: #0F3F94;
}
.cathectic-selector-item {
	margin: 10px 0;
}
.cathectic-selector-item span {
	display: inline-block;
	text-align: center;
	margin-right: 2px;
}
.cathectic-selector-item strong {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #EEE;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 1px 1px 3px #CCC;
	font-size: 20px;
	margin-bottom: 10px;
}
strong.cathectic-selector-item_on {
	background: red;
	color: #EEE;
}
.cathectic-selector-item span em {
	display: block;
	font-size: 14px;
	font-style: normal;
	color: #888;
}
.CSI_label {
	text-align: center;
}
.CSI_label i {
	display: inline-block;
	font-style: normal;
	background: #EEE;
	padding: 4px 10px;
	margin-bottom: 16px;
}
.cathectic-main-choose-text {
	display: none;
	width: 560px;
	margin: 0 auto;
}
.cathectic-main-choose-text textarea {
	width: 100%;
	height: 120px;
	margin-bottom: 15px;
	resize: none;
	overflow-y: auto;
}
.cathectic-main-choose-text p span {
	color: red;
	font-weight: bold;
	line-height: 30px;
}
.cathectic-selector-item select, select.CSR_select  {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	padding: 3px 6px;
	color: #0F3F94;
	border-color: #459FDC;
	background: #E1F0FF;
}
.cathectic-selector-res {
	text-align: center;
	overflow: hidden;
}
.CSR_info span {
	color: red;
	font-weight: bold;
}
.CSR_info {
	font-size: 14px;
}
.CSR_get {
	color: #888;
	margin-bottom: 30px;
}
.CSR_btn {
	font-size: 20px;
	border: 1px solid #CCC;
	background: #EEE;
	display: inline-block;
	line-height: 30px;
	padding: 0 25px;
	margin-right: 10px;
	font-weight: bold;
	color: #888;
}
.CSR_btn_OK {
	background: #F6A035;
	color: #FFF;
}
.CSR_clear {
	line-height: 32px;
	display: inline-block;
	color: #777;
}
select.CSR_select {
	float: right;
	/*display: none !important;*/
	margin-right: 70px;
	margin-left: -180px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.cathectic-resluts {
	width: 560px;
	height: 120px;
	margin: 15px auto;
	margin-bottom: 20px;
}
.cathectic-resluts-list {
	border: 1px solid #CCC;
	overflow-y: scroll;
	height: 120px;
}
.cathectic-resluts-list > div {
	padding: 0 10px;
	line-height: 24px;
	cursor: pointer;
}
.cathectic-resluts-list_active {
	background: #F8F8F8;
}
.cathectic-resluts-list a {
	float: right;
	color: #0F3F94;
}
.cathectic-resluts-list span {
	color: #0F3F94;
}
.cathectic-resluts-list i {
	color: red;
	font-style: normal;
}
.cathectic-resluts-doubling {
	line-height: 30px;
	margin-top: 10px;
}
.cathectic-resluts-doubling strong {
	color: red;
}
.cathectic-resluts-doubling i {
	font-style: normal;
	font-size: 24px;
	line-height: 20px;
	border: 1px solid #CCC;
	text-align: center;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	cursor: pointer;
}
.cathectic-resluts-doubling input {
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #CCC;
	text-align: center;
	width: 50px;
	height: 22px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin: 0 -1px;
}
.cathectic-resluts-doubling input:focus {
	outline: none;
}
.cathectic-resluts-doubling a {
	float: right;
	color: #777;
}

.cathectic-seperator {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	border: 1px solid #B7D5F7;
	background: #F3F9FF;
	padding: 0 40px;
}
.cathectic-seperator span {
	float: right;
	color: #888
}
.cathectic-seperator span i {
	font-style: normal;
	color: red;
}
.cathectic-seperator input {
	margin-left: 20px; 
	vertical-align: middle;
}
.cathectic-seperator label {
	color: #0F3F94;
	margin-left: 3px;
}

.cathectic-pursue {
	overflow: hidden;
	border-bottom: 1px solid #CCC;
}

.cathectic-pursue-title {
	display: inline-block;
	width: 60px;
	height: 270px;
	line-height: 270px;
	text-align: center;
	vertical-align: middle;
	color: #888;
	background: #F5F5F5;
	*display: inline;
	*float: left;
}
.cathectic-pursue-content {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}
.CPC_choose {

}
.CPC_choose  a {
	display: inline-block;
	width: 28px;
	text-align: center;
	border: 1px solid #CFCFCF;
	background: #F4F4F4;
	color: #0F3F94;
	height: 18px;
	line-height: 18px;
	margin-right: 8px;
	font-size: 12px;
}
.CPC_choose  a:hover , a.CPC_choose_on {
	border-color: #3C7EC8;
	background: #3C7EC8;
	text-decoration: none;
	color: #FFF;
}
.CPC_choose_box {
	border: 1px solid #7F9DB9;
	width: 560px;
	height: 200px;
	margin-top: 10px;
}
.cathectic-comfirm p {
	line-height: 30px;
}
.cathectic-comfirm p span {
	color: red;
}
.cathectic-comfirm-btn {
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	padding: 6px 20px;
	text-align: center;
	background: #CE2A2A;
	color: #FFF;
	margin: 0 20px 20px 0;
	float: right;
	box-shadow: 3px 3px 5px #CCC;
	border-radius: 8px;
}
.cathectic-comfirm-btn:hover {
	background: red;
	color: #EEE;
}
.cathectic-comfirm-title {
	height: 240px;
	line-height: 240px;
}

.CPC_table_header {
	background: #F3F9FF;
	line-height: 32px;
}

.CPC_table_header strong, .CPC_table_body span {
	font-weight: normal;
	display: inline-block;
	margin-left: 10px;
}
.CPC_table_header input {
	width: 40px;
	vertical-align: middle;
}
.CPC_choose_box table td input {
	vertical-align: middle;
}
.CPC_choose_box table td input[type=text] {
	width: 40px;
}
.CPC_choose_box table{
	border:0;
	position: relative;
}
.CPC_choose_box table th{
	font-size: 12px;
	border:0;
	text-align: center;

}
.CPC_choose_box table td{
	border:0;
	text-align: center;
	font-size: 12px;
}
.CPC_choose_box table{
	
}